{
  "singleQuote": true,
  "trailingComma": "all",
  "tabWidth": 2,
  "printWidth": 80,
  "embeddedLanguageFormatting": "auto",
  "quoteProps": "consistent",
  "jsxBracketSameLine": true,
  "endOfLine": "lf",
  "bracketSpacing": true
}